@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.customContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.video-area{
  flex: 2;
  min-width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-area{
  flex: 1;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between;
  flex-wrap: wrap; */
  /* align-content: flex-start; */
  height: 100vh;
  gap:3rem;

}

.panel-area{
  flex: 1;
  align-self: flex-start;
}

.custom-chat-area{
  flex: 1;
  margin-top: auto;

  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  gap: 10px;
}